.container{
	width:520px;
	background-color:#993300;
	height:320px;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
}

.container font{
	font-family:arial;
	font-size:20px;
	color:white;
	font-weight:bold;

}

.Mainstatus{
	border-radius:5px; 
	width:258px; 
	height:20px; 
	text-align:center;
	margin-left:1px;
	margin-top:1px;
}

.title{
	width:150px;
	height:25px;
}


.carrier{
	background-color:white;
	border-radius:5px;
	width:260px;
	height:auto;
	float:left;
}

.carrier1{
	margin-left:1em;
	color:#ffffff;
	width:175px;
	height:auto;
	float:left;
}

.carrier2{
	color:#ffffFF;
	width:50px;
	height:auto;
	float:left;
}

.error{
	border-radius:5px; 
	width:258px; 
	height:20px; 
	text-align:center;
	margin-left:1px;
	margin-top:1px;
	margin-bottom:1px;
}

.label{
	margin-top:1px;
	margin-bottom:1px;
}